<style>
    #header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        padding: 20px;
    }

    h2 {
        font-size: 20px;
        color: #f1f1f1;
        font-weight: 800;
        margin: 0;
    }
</style>

<header id="header" class="container mx-auto">
    <h2 class="header-title">optiMorph</h2>
</header>

