---
import { Form } from '../components/Form';
---

<style>

</style>

<section id="hero-content" class="py-36">
    <div class="container mx-auto text-center">
        <h2 class="text-white text-xl font-bold tracking-title">Analiza, Decide, Optimiza</h2>
        <p class="text-grey w-auto md:w-1/2 mx-auto pb-10">Optimización visual sin complicaciones. optiMorph escanea tus imágenes web, revela su peso y te guía hacia decisiones informadas.</p>
        <Form client:only/>
    </div>
</section>